header {
  background-color: #366277;

  nav {
    padding: 15px 0;
    a {
      text-decoration: none;
      color: #ffffff;
      font-size: 26px;

      span {
        font-weight: bold;
      }
    }

    ul {
      margin: 0;
    }
  }
}
